# Import Neceessary Libraries

In [9]:
import pandas as pd

# Read CSV File

In [3]:
csv=pd.read_csv("new.csv")

# Print CSV File

In [15]:
csv

,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
#,,,,,,,,,,,
1,Grass,Poison,45,49,49,65,65,45,1,False,274
2,Grass,Poison,60,62,63,80,80,60,1,False,346
3,Grass,Poison,80,82,83,100,100,80,1,False,446
3,Grass,Poison,80,100,123,122,120,80,1,False,546
4,Fire,NaN,39,52,43,60,50,65,1,False,271
...,...,...,...,...,...,...,...,...,...,...,...
719,Rock,Fairy,50,100,150,100,150,50,6,True,556
719,Rock,Fairy,50,160,110,160,110,110,6,True,656
720,Psychic,Ghost,80,110,60,150,130,70,6,True,526
720,Psychic,Dark,80,160,60,170,130,80,6,True,606
721,Fire,Water,80,110,120,130,90,70,6,True,526

# Print Shape of CSV file

In [6]:
csv.shape

(800, 12)

# Print Head Values

In [8]:
csv.head(5)

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Grass,Poison,45,49,49,65,65,45,1,False,274
1,2,Grass,Poison,60,62,63,80,80,60,1,False,346
2,3,Grass,Poison,80,82,83,100,100,80,1,False,446
3,3,Grass,Poison,80,100,123,122,120,80,1,False,546
4,4,Fire,NaN,39,52,43,60,50,65,1,False,271

# Make a column as index Column

In [13]:
csv1=pd.read_csv("new.csv",index_col=1)

In [14]:
csv1

,#,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Type 1,,,,,,,,,,,
Grass,1,Poison,45,49,49,65,65,45,1,False,274
Grass,2,Poison,60,62,63,80,80,60,1,False,346
Grass,3,Poison,80,82,83,100,100,80,1,False,446
Grass,3,Poison,80,100,123,122,120,80,1,False,546
Fire,4,NaN,39,52,43,60,50,65,1,False,271
...,...,...,...,...,...,...,...,...,...,...,...
Rock,719,Fairy,50,100,150,100,150,50,6,True,556
Rock,719,Fairy,50,160,110,160,110,110,6,True,656
Psychic,720,Ghost,80,110,60,150,130,70,6,True,526
Psychic,720,Dark,80,160,60,170,130,80,6,True,606
Fire,721,Water,80,110,120,130,90,70,6,True,526

# Printing a Column

In [22]:
csv.Attack

#
1       49
2       62
3       82
3      100
4       52
      ...
719    100
719    160
720    110
720    160
721    110
Name: Attack, Length: 800, dtype: int64

In [23]:
csv['Attack']

#
1       49
2       62
3       82
3      100
4       52
      ...
719    100
719    160
720    110
720    160
721    110
Name: Attack, Length: 800, dtype: int64

In [24]:
csv.Type 1

SyntaxError: invalid syntax (<ipython-input-24-e389a479f24c>, line 1)

In [25]:
csv['Type 1']

#
1        Grass
2        Grass
3        Grass
3        Grass
4         Fire
        ...
719       Rock
719       Rock
720    Psychic
720    Psychic
721       Fire
Name: Type 1, Length: 800, dtype: object

# Print a element of a column

In [26]:
csv['Type 1'][3]

#
3    Grass
3    Grass
Name: Type 1, dtype: object

In [27]:
csv.iloc[3]

Type 1         Grass
Type 2        Poison
HP                80
Attack           100
Defense          123
Sp. Atk          122
Sp. Def          120
Speed             80
Generation         1
Legendary      False
Total            546
Name: 3, dtype: object

In [28]:
csv.iloc[:,3]

#
1       49
2       62
3       82
3      100
4       52
      ...
719    100
719    160
720    110
720    160
721    110
Name: Attack, Length: 800, dtype: int64

In [34]:
csv.iloc[4,:]

Type 1         Fire
Type 2          NaN
HP               39
Attack           52
Defense          43
Sp. Atk          60
Sp. Def          50
Speed            65
Generation        1
Legendary     False
Total           271
Name: 4, dtype: object

In [35]:
csv.iloc[:,2]

#
1      45
2      60
3      80
3      80
4      39
       ..
719    50
719    50
720    80
720    80
721    80
Name: HP, Length: 800, dtype: int64

In [36]:
csv.iloc[4,2]

39